.steps
    background-color: $third-color
    padding: 114px 0 124px 0
    &__wrapper
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    &__descr
        margin-top: 26px
    &__items
        width: 100%
        margin-top: 60px
        display: flex
        justify-content: space-between
        align-items: center
    &__item
        text-align: center
        position: relative
        &:last-child>img
            position: absolute
            top: -35px
            left: -45px
    &__title
        margin-top: 13px
    &__button
        display: flex
        align-items: center
        justify-content: center
        width: 244px
        height: 52px
        background-color: $second-color
        border-radius: 160px
        margin-top: 46px
        font-family: Noto Sans
        font-style: normal
        font-weight: normal
        font-size: 16px
        text-align: center
        color: #FBFAF7
        text-decoration: none
        &:hover
            color: #FBFAF7
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)